API_ID=8879723399
API_HASH=8fbb357c5c8a59c8879723399ffb9825
BOT_TOKEN=8032757461:AAFTgSAE-3OyTYc2sdwz0A4MVi9CSWmj-fM
MONGO_DB_URI=mongodb+srv://bairagixd:xHZnmMH5rNvLjk0K@cluster0.hcc5bcl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-4810432742
OWNER_ID=8150875959
STRING_SESSION=
